* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 'sidebar page';
  justify-content: space-between;
  gap: 2%;
  margin-top: 2%;
}
body {
  background-color: #fffcfb;
}

.active {
  background-color: #f33823;
  color: white !important;
}

@media all and (min-width: 50px) and (max-width: 450px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'sidebar'
      'page';
    justify-content: space-between;
  }
}
@media all and (min-width: 451px) and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'sidebar page';
    justify-content: space-between;
  }
}
