* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 'sidebar page';
  justify-content: space-between;
  max-width: 100ev;
}
.container > div:first-child {
  border: 1px solid black;
}

.container > div:last-child {
  border: 1px solid black;
}

/* .active:is(:link, :active, :visited):active {
  background-color: #f33823;
  color: white;
} */
