.Sidebar {
  font-size: 20px;
  color: #989290;
  margin-top: 15%;
  max-width: 100%;
}
.link {
  color: #989290;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  padding: 6%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  background-color: #f33823;
  color: white;
}

.link :last-child {
  font-size: 15px;
}

@media all and (min-width: 50px) and (max-width: 450px) {
  .Sidebar {
    font-size: 16px;
    color: #989290;
    margin-top: 10%;
    max-width: 100%;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
}
